@page "{id:int}"
@using MyDailyHabits.Data.Enums
@model MyDailyHabits.App.Pages.Reminders.EditRemindersModel
@{
    ViewData["Title"] = "Edit Reminder";
}

@section HabitSideBar {
    <partial name="Shared/_HabitSideBar" />
}

<form method="post" asp-page-handler="UpdateReminder">
    <input type="hidden" asp-for="EditReminder.UserId" />
    <input type="hidden" asp-for="EditReminder.Id" />
    <input type="hidden" asp-for="EditReminder.HabitId" />

    <div class="form-group">
        <label asp-for="EditReminder.Time" class="form-label"></label>
        <input asp-for="EditReminder.Time" class="form-control" />
        <span asp-validation-for="EditReminder.Time" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RepeatDaysStringList" class="form-label"> Repeat Days</label>
        <input asp-for="RepeatDaysStringList" type="text" class="form-control" />
        <span asp-validation-for="RepeatDaysStringList" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="SelectedHabitId" class="form-label">Habit</label>
        <select asp-for="SelectedHabitId" asp-items="Model.HabitListItems" class="form-control">
            <option value="">-- Select Habit --</option>
        </select>
        <span asp-validation-for="SelectedHabitId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Edit Reminder</button>
    <a class="btn btn-secondary" asp-page="/Reminder/Index">Back</a>
</form>